/* Set background image */
body {
    background: var(--background) no-repeat fixed center;
    background-size: cover;
}
.theme-dark {
    --background-primary: none !important;
    --background-secondary: none !important;
    --background-tertiary: none !important;
    --background-accent: none !important;
    --background-secondary-alt:none !important;
    --channeltextarea-background:none !important;
}

/* Remove topbar margin */
.withFrame-2dL45i {
    margin-top: 0px;
    padding-bottom: 5px;
}

.channelTextArea-1FufC0 {
    border: 1px solid var(--color1);
}

/* Remove hover background */
.message-2CShn3.selected-2LX7Jy, .mouse-mode.full-motion, .message-2CShn3:hover {
    background:none;
}

.flowerStar-2tNFCR > path {
    fill:var(--color1);
}

/* Remove buttons' side padding */
.buttons-3dF5Kd {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*Embed wrapper border*/
.embedWrapper-1MtIDg {
    border-left: 4px solid var(--color1)
}

/*add transparency gradients*/
.appMount-2yBXZl, .embedWrapper-1MtIDg, .channelTextArea-1FufC0, code, .profileColors-3Y0XaR {
    background: transparent var(--transparency) !important;
}

/*Hide emoji picker separator*/
.separator-42rNt0 {
    display: none;
}

/*Bigger avatars*/

.avatarWrapperNormal-ahVUaC {
    overflow: visible;
}

/*Round icons and avatars*/
foreignObject {
    mask: none
}
.avatar-2Vndt_ {
    border-radius: var(--avatar-roundness);
}
.avatarWrapperNormal-ahVUaC {
    border-radius: var(--avatar-roundness);
}
img.avatar-VxgULZ {
    border-radius: var(--avatar-roundness);
}
img.icon-27yU2q {
    border-radius: var(--icon-roundness);
}

/*Fix golive members not being all square*/
.viewer-2fFR_X {
    margin-left: 3px;
    -webkit-mask: none;
    mask: none;
}

/*Set text color*/
.theme-dark {
    --text-normal: #ededed;
}

/*More transparent status icons*/
rect.pointerEvents-2zdfdO {
    fill-opacity:0.8;
}

/*Fix limited VC pill */
.total-3tKGEB:after {
    content: "/";
    position: absolute;
    top: 0;
    left: -6px;
    width: 0;
    height: 0;
    border: none;
}

/*VC pill gradient*/
.wrapper-pZmgj4 {
    color: var(--color1);
    border-radius: 20%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

/*Change the color of guild nitro boost after scrolling*/
.disableColor-MwOAZf, .iconBackgroundTierNone-3MPhMJ, .iconBackgroundTierOne-2LhaMB, .iconBackgroundTierThree-3qw3JX, .iconBackgroundTierTwo-3bCmdc {
    color: var(--color1);
}

/*Make status icons in context menu round*/
.status-1AY8sU {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*Compatibility with member count*/
#MemberCount {
    background: transparent !important;
    position: static;
    border-bottom: none;
}

/*Discord logo color*/
.wordmarkWindows-1v0lYD {
    color: var(--textColor) !important;
}

/*Change some of the highlighting to user color*/
.side-8zPYf6, .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu, .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .profileColors-3Y0XaR, .wrapper-2vIMkT {
    background-color: var(--color1);
}

/*Scrollbars*/
#app-mount ::-webkit-scrollbar-thumb { background-color: var(--color1); border-color: transparent; }
#app-mount ::-webkit-scrollbar-track-piece { background-color: transparent; border-color: transparent; }
#app-mount ::-webkit-scrollbar-track { background-color: transparent; }

/*Remove margin on top of the window*/
.withFrame-haYltI {
    margin-top: 0;
}

/*User profiles*/
.root-SR8cQa {
    border: solid 1px var(--color1);
    background-color: rgba(15, 15, 15, 0.95);
}

/*Context menu*/
.contextMenu-HLZMGh, .menu-Sp6bN1 {
    border: solid 1px var(--color1);
    background-color: rgba(15, 15, 15, 0.95);
}

.clickable-11uBi-:hover, .selected-BYpGTS {
    background-color: var(--color1);
}

/*Call screen*/
.video-1FfuMD {
    background-color: rgba(15, 15, 15, 0.95);
}

/*User context menu*/
.headerNormal-T_seeN {
    background: var(--transparency);
}

.bodyInner-245q0L, .footer-1fjuF6 {
    background-color: rgba(15, 15, 15, 0.9) !important;
}

.headerPlaying-j0WQBV , .topSectionPlaying-1J5E4n {
    background-color: rgba(114,137,218,0.9) !important;
}

.headerSpotify-zpWxgT , .topSectionSpotify-1lI0-P {
    background-color: rgba(29,185,84,0.9) !important;
}

.headerStreaming-2FjmGz , .topSectionStreaming-1Tpf5X {
    background-color: rgba(89,54,149,0.9) !important;
}

/*New messages line*/
.newMessagesBar-mujexs {
    background-color: var(--color1);
}

/*Remove border radius of channel sidebar*/
.sidebar-2K8pFh {
    border-radius: 0 !important;
}

/*Change volume color*/
.barFill-23-gu- {
    background: var(--color1);
}

/*add background to invites*/
.wrapper-35wsBm {
    background: var(--transparency);
}

/*align member groups to center*/
.membersGroup-v9BXpm {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid 1.5px var(--color1);
}